S3method(as.data.frame,dataframe_DLM)
S3method(plot,MCMC_DLM)
S3method(plot,dataframe_DLM)
S3method(print,MCMC_DLM)
S3method(print,dataframe_DLM)
S3method(summary,MCMC_DLM)
S3method(summary,dataframe_DLM)
export(NB_MCMC)
export(QB_MCMC)
export(dALD)
export(dataframe_DLM)
export(pALD)
export(qALD)
export(rALD)
export(rTALD)
import(dlnm)
import(ggplot2)
import(ggridges)
import(splines)
import(stats)
import(utils)
importFrom(BayesLogit,rpg)
importFrom(dlnm,onebasis)
importFrom(dplyr,"%>%")
importFrom(dplyr,select)
importFrom(reshape2,melt)
importFrom(statmod,rinvgauss)
useDynLib(DiscreteDLM, .registration = TRUE)
